body {
    background: #fafafa;
    /* margin-top: 5rem; */
  }
  
  ul {
    margin: 0;
  }
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.item {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid black;
}
.title {
    font-size: 1.2em;
    font-weight: bold;
}
.by {
    font-size: 0.9em;
    color: #666;
}
.time {
    font-size: 0.9em;
    color: #666;
}
.id {
    font-size: 0.8em;
    color: #999;
}